In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data = pd.read_csv("adult_data.csv")
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [ ]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. Каков средний возраст (признак age) женщин?

In [ ]:
women["age"].mean()

3. Какова доля граждан Германии (признак native-country)?

In [ ]:
germans = (data["native-country"] == "Germany").sum()
people = data.shape [0]
float(germans / people)

0.004207487485028101

4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [ ]:
avrich = data.loc[data["salary"] == ">50K"]['age'].mean()
stdrich = data.loc[data["salary"] == ">50K"]['age'].std(ddof=0)
avpoor = data.loc[data["salary"] == "<=50K"]['age'].mean()
stdpoor = data.loc[data["salary"] == "<=50K"]['age'].std(ddof=0)
print(avrich, stdrich, avpoor, stdpoor, sep="\n")

44.24984058155847
10.518356927661575
36.78373786407767
14.019804910115214

6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [ ]:
education = np.array(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])
salary = data[data['salary'] == '>50K']['education'].unique()
np.array_equal(education, salary, equal_nan=False)

False

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [ ]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [ ]:
richm = data[(data["sex"] == "Male") & (data["marital-status"].str.startswith('Married'))] ['salary'].value_counts()[1]
richnm = data[(data["sex"] == "Male") & (data["marital-status"].isin(['Never-married', 'Separated', 'Divorced']))] ['salary'].value_counts()[1]
men = (data["sex"] == 'Male').sum()
print('Доля женатых, зарабатывающих >50k:', richm/men)
print('Доля холостых, зарабатывающих >50k:', richnm/men)

Доля женатых, зарабатывающих >50k: 0.2737494263423589
Доля холостых, зарабатывающих >50k: 0.030197338228545204

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [ ]:
maxh = data['hours-per-week'].max()
workers = (data['hours-per-week'] == maxh).sum()
rich_workers = data[(data['hours-per-week'] == maxh)] ['salary'].value_counts()[1]
print('Максимальное кол-во часов в неделю:', maxh)
print('Количество работяг:', workers)
print("Процент богатых работяг:", ((rich_workers/workers) * 100),'%')

Максимальное кол-во часов в неделю: 99
Количество работяг: 85
Процент богатых работяг: 29.411764705882355 %

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [ ]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5